h1 {
    font-size: 24px;
    color: darkblue;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    border: 2px solid darkblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: aqua;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: white;
    margin: 20px auto;
}

@media screen and (min-width: 600px) and (max-width: 899px)
{
    .box {
        width: 150px;
        height: 150px;
        line-height: 150px;
        background-color: lightseagreen;
    }
}