nav a {
    text-decoration: none;
    margin-left: 50px;
    padding: 1px;
}
nav{
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blanchedalmond;
    height: 40px;
}
#div{
    background-color: lightblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.contain{
    height: 100px;
    width: 100px;
    background-color: lightsalmon;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid black;
    display: inline-block;
}
#Box{
    background-color:aqua;
    border: 3px solid black;
}
#rightbox{
    background-color: lime;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    right: 100px;
    margin-top: 50px;
}
footer{
    background-color: blanchedalmond;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}