* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: lightcyan;
    align-items: center;
}

.myntra_logo {
    height: 36px;
    width: 53px;
}

.logo_container {
    margin-left: 4%;

}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    min-width: 525px;
    justify-content: space-between;

}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}