* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myntra_logo {
    height: 36px;
    width: 53px;
}

.logo_container {
    margin-left: 4%;

}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    min-width: 525px;
    justify-content: space-evenly;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    padding: 25px 0;
    border-bottom: 5px solid white;
}

.nav_bar a:hover {
    border-bottom: 4px solid #ff3f6c;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 35%;
    display: flex;
    align-items: center;
}

.search_icon {
    height: 20px;
    padding: 10px;
    color: #282c3f;
    box-sizing: content-box;
    background-color: #f5f5f6;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;
    background: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;

}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #282c3f;
    cursor: pointer;
}

/* MAIN SECTION IS STARTED FROM HERE */
.banner_container {
    width: 100%;
    margin: 40px 0;
}

.banner_image_container {
    width: 100%;
}

.category_heading {

    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.offers_image_container {
    width: 247px;
}