.loading-bar {
    width: 90%;
    height: 40px; 
    background-color: cadetblue;
    border-radius: 20px;

    position: relative;
    left: 4%;

}
.progress {
    height: 100%;
    background-color: coral;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    animation: load 3s ease-in-out forwards infinite;
}

@keyframes load {
    0% { width: 0%; }
    50% { width: 50%; }
    75% { width: 75%; }
    90% { width: 95%; }
    95% { width: 70%; }
    100% { width: 100%; }
}